{% extends "base.html" %}
{% block header_content %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>
    {{ graph.0|safe }}
{% endblock %}

{% block body_content %}
    <div class="row mb-2">
        <div class="col-md-8">
            {{ graph.1|safe }}
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2>Future Schedule</h2>
                <p>Departing: {{ charge_session.departure_formatted }}</p>
                <p>Average cost: {{ charge_session.average_cost|floatformat:2 }}p/kWh</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for child in charge_session.children %}
                        <tr>
                            <td>{{ child.start_time_formatted }}</td>
                            <td>{{ child.stop_time_formatted }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p><a href="/charge/cancel/{{ charge_session.id }}"
                      class="btn btn-warning">Cancel session</a></p>
            </div>
        </div>
    </div>

{% endblock %}

